.password-container {
  display: inline-block;
}

h2 {
  margin: 10px 0 !important;
  font-size: 1.2rem;
  margin-bottom: 5vh;
}

.password-requirements-row {
  mat-checkbox {
    margin-right: 10px;
  }
}

.mat-slider-horizontal {
  width: 270px;
}

.hint-text {
  text-shadow: 1px 1px 1px rgb(70, 70, 70);
}
