.card-list {
  display: flex;
  justify-content: space-evenly;
  padding: 25px 0;
  margin: 0 auto;
  flex-flow: row wrap;
}

.register-card {
  width: 300px;
  margin: 10px;
}

.field-group {
  padding: 5px 0;
}
