
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-password-strength-primary: mat-palette($mat-indigo);
$angular-password-strength-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angular-password-strength-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angular-password-strength-theme: mat-light-theme((
  color: (
    primary: $angular-password-strength-primary,
    accent: $angular-password-strength-accent,
    warn: $angular-password-strength-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($angular-password-strength-theme);

/* You can add global styles to this file, and also import other style files */

//#region Global Positioning
body,
html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.holy-grail {
  min-height: 100vh;
}

.holy-grail,
.holy-grail-body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.holy-grail-content {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.holy-grail-child {
  display: flex;
  justify-content: center;
}

.content-expand {
  width: 100%;
}

@media (min-width: 992px) {
  /**
  * Body items are now side by side
  */
  .holy-grail-body {
    flex-direction: row;
  }

  .hg-sidebar {
    flex: 0 0 260px;
  }
}

.center {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.child {
  align-items: center;
  display: flex;
  flex-direction: column;
}
//#endregion

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
